.Card {
  &__container {
    width: 320px;

    font-family: 'Trebuchet MS';

    @media (max-width: 380px) {
      width: 280px;
    }
  }
  &__wrapper {
    height: 480px;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border: 4px solid #1698D9 ;
    border-radius: 12px;
    background-color: white;
    overflow: hidden;
    cursor: pointer;

    clip-path: polygon(50px 0,100% 0, 100% 100%,0 100%,0 50px);

    &:before {
      height: 4px;
      width: 70px;
      position: absolute;
      top: 21px;
      left: -13px;
      content: '';

      transform: rotate(-45deg);
      background-color: #1698D9;

    }
  }
  &__wrapper_selected {
    border-color: #D91667;
    &:before {
      background-color: #D91667;
    }
  }
  &__wrapper_disabled {
    border-color: #B3B3B3;
    &:before {
      background-color: #B3B3B3;
    }
  }
  &__wrapperDisabled {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    clip-path: polygon(50px 0,100% 0, 100% 100%,0 100%,0 50px);
    opacity: 50%;
    z-index: 1000;
  }

  &__info {
    margin-top: 21px;
    width: 212px;

  }

  &__topTitle {
    margin-bottom: 5px;

    color: #666666;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  &__topTitle_hovered {
    color: #D91667;
  }
  &__mainTitle {
    color: black;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }
  &__flavorTitle {
    margin-bottom: 15px;

    color: black;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
  &__subTitle {
    width: 140px;

    color: #666666;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
  &__footer {
    margin-top: 14px;

    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: white;
    .dot {
      color: #1698D9;
    }
    a {
      margin-left: 6px;

      color: #1698D9;
      border-bottom: 1px #1698D9 dashed;
    }
  }
  &__footer_disabled {
    span {
      color: #FFFF66;
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &__weight {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 16px;
    right: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #1698D9;
    border-radius: 50%;

    div:first-child {
      margin-top: 15px;
      font-weight: 400;
      font-size: 42px;
      line-height: 22px;

      color: white;
    }
    div:last-child {
      margin-top: 10px;
      font-weight: 400;
      font-size: 24px;
      line-height: 20px;

      color: white;
    }
  }
  &__weight_selected {
    background-color: #D91667;
  }
  &__weight_disabled {
    background-color: #B3B3B3;
  }
}

